html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;

}

main {

	height: 100%;
	background-color: #262626;
	--header-height: 48px;

}

header {

	width: 100%;
	height: calc(var(--header-height) - 1px);
	border-bottom: 1px solid #8a8a8a;

}

section {

	width: 100%;
	height: calc(100% - var(--header-height));
	overflow-y: scroll;

}

section li {

	height: 120px;
	border-bottom: 1px dashed #8a8a8a;
	list-style: none;

}

section li table {

	width: 100%;
	table-layout: fixed;
	height: 100%;

}
