html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;

}

main {

	width: 100%;
	height: 100%;

	--header-height: 44px;

}

header {

	position: fixed;
	left: 0;
	top: 0;
	height: var(--header-height);
	width: 100%;
	background-color: #000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	z-index: 100;

}

header h1 {

	padding: 0;
	margin: 0;
	font-weight: 400;
	color: #fff;
	font-family: 'Indie Flower', cursive;
	text-indent: 10px;
	line-height: var(--header-height);

}

section {

	position: fixed;
	top: var(--header-height);
	background-color: #f2f2f2;
	left: 0;
	height: calc(100% - var(--header-height));
	width: 100%;
	overflow: hidden;

}

section canvas {

	display: block;
	width: 100%;
	height: 100%;

}
